@model BlueModas.Web.ViewModels.OrderShowViewModel

@section styles {
    <link rel="stylesheet" href="~/css/shopping-cart.css">
}

<partial name="_Navbar" />

<partial name="_Alert" />

<main class="shopping-cart">
    @if(Model.Items.Any())
    {
        <ul class="shopping-cart__list">
            @foreach (var it in Model.Items)
            {
                <li class="shopping-cart__list__item">
                    <span class="shopping-cart__list__item__image" style="background-image: url('@it.ProductImage');"></span>

                    <div class="shopping-cart__list__item__info">
                        <header class="shopping-cart__list__item__header">@it.ProductName</header>

                        <div class="shopping-cart__list__item__footer">
                            <form asp-action="Update" asp-controller="EditProduct" asp-route-productId="@it.ProductId" class="shopping-cart__list__item__form">
                                <input class="shopping-cart__list__item__quantity" min="1" name="Quantity" step="1" type="number" value="@it.Quantity">
                            </form>
                            <span class="shopping-cart__list__item__price">@it.SubTotal.ToString("C")</span>
                        </div>
                    </div>

                    <form asp-action="Destroy" asp-controller="RemoveProduct" asp-route-productId="@it.ProductId">
                        <button class="shopping-cart__list__item__remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </form>
                </li>
            }
        </ul>

        <section class="shopping-cart__info">
            <h3 class="shopping-cart__info__title">Informações</h3>

            <div class="shopping-cart__info__group">
                <span class="shopping-cart__info__label">Total</span>
                <span class="shopping-cart__info__value">@Model.Total.ToString("C")</span>
            </div>
        </section>

        <div class="shopping-cart__actions">
            <a asp-action="Index" asp-controller="Product" class="shopping-cart__actions__item shopping-cart__actions__item--keep-buying">Continuar comprando</a>
            <a asp-action="Store" asp-controller="CustomerIdentification" class="shopping-cart__actions__item shopping-cart__actions__item--finish-order">Finalizar compra</a>
        </div>
    }
    else
    {
        <div class="shopping-cart__empty">
            <i class="fa fa-shopping-bag"></i>
            <h3 class="shopping-cart__empty__title">Carrinho Vazio</h3>
            <p class="shopping-cart__empty__description">Você não tem nenhum item ainda no carrinho...</p>
        </div>
    }
</main>

@section scripts {
    <script src="~/js/shopping-cart.js"></script>
}
